site_name: did:webvh DID Method Information -- "did:web + Verifiable History"
repo_name: decentralized-identity/didwebvh-info
repo_url: https://github.com/decentralized-identity/didwebvh-info
theme:
  name: material
  logo: https://raw.githubusercontent.com/decentralized-identity/didwebvh-info/main/docs/assets/didwebvh.jpg
  favicon: https://raw.githubusercontent.com/decentralized-identity/didwebvh-info/main/docs/assets/favicon.ico
  icon:
    repo: fontawesome/brands/github
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
  - content.code.copy
  - navigation.expand
  - navigation.footer
  - navigation.instant
  - navigation.tabs
  - navigation.tabs.sticky
  - navigation.top
  - navigation.tracking
  - toc.follow
#  - toc.integrate
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
      toc_depth: 3
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
plugins:
  - search
  - mike
extra:
  version:
    provider: mike
nav:
- Welcome:
    - Introduction to did:webvh: README.md
    - Overview: overview.md
    - did/whois: whois.md
    - Release Notes: version.md
- The Specification:
    - Specification: specification.md
- Implementer's Guide:
    - The `did:webvh` Implementer's Guide: implementers-guide/README.md
    - Using Pre-Rotation keys: implementers-guide/prerotation-keys.md
    - DID Portability: implementers-guide/did-portability.md
    - Witnesses: implementers-guide/witnesses.md
    - High Assurance DIDs with DNS: implementers-guide/high-assurance-dids-with-dns.md
- A `did:webvh` Example Log:
    - did:webvh DID Log Example: example.md
- Implementations:
    - did:webvh Registrars/Resolvers: implementations.md
    - did:webvh Web Server: didwebvh-server.md
- Demos:
    - did:webvh Demos: demos/README.md
- Contributing:
    - How to Contribute: root_README.md
    - Contributor Guidelines: root_CONTRIBUTOR.md
    - Code of Conduct: root_CODE_OF_CONDUCT.md
